body{font-size: 16px;}
img{display: block; width: 100%;} 
header,footer{width: 100%; background: #333333;}
footer{color: #fcfff6;}
header .logo{float: left;}
header nav{float: left;}
header nav li{float: left;}
header nav li a{display: block; font-size: 0.875em; color: #fdfef9; text-align: center;}
/*大屏*/
@media screen and (min-width:1001px){
	header{position: fixed; top: 0; z-index: 1000;}
	header .logo{width: 171px;margin-right: 96px; padding-top: 11px;}
	header>div{width: 1000px; margin: 0 auto; }
	header nav{width: 733px;}
	header nav li{width: 94px; height: 80px; line-height: 80px;}
	header nav li:nth-of-type(1){width: 65px;}
	header nav li:nth-of-type(2) a{background: #5c5c5c;}
	header nav li a:hover{background: #5c5c5c; transition: .5s;}
	.main{width: 1000px; margin: 120px auto 0 auto;}
	.main aside{width: 265px; float: left; border-right: 1px solid #bbbbbb;}
	.main aside li{height: 80px; line-height: 80px;  text-align: center; background: url(../images/pic_06.jpg) no-repeat 20px center ,url(../images/images_07.jpg) no-repeat left bottom;;}
	.main aside li img{display: none;}
	.main aside li:nth-of-type(1){background:url(../images/pic_03.jpg) no-repeat 20px center;}
	.main aside li a{font-size: 22px; color: #222222; display: block;}
	.main aside li:nth-of-type(1):hover{background:url(../images/images_03.jpg) no-repeat 20px center, url(../images/images_07.jpg) no-repeat left bottom;}
	.main section h3{height: 38px; color: #fa9634; font-size: 18px; line-height: 38px;}
	.main section{width: 719px; float: left; box-sizing: border-box; padding-left: 50px; padding-bottom: 99px;}
	.main section p{font-size: 16px; line-height: 28px; color: #222222;}
	footer div{width: 1000px; margin: 0 auto;}
	footer div ul{padding-top: 4.5%; padding-bottom: 5.3%;}
	footer li{width: 24.5%; float: left;}
	footer li:nth-of-type(4){width: 26.5%;}
	footer li p{line-height: 29px; font-size: 0.875em;}
	footer li p span{width: 70px; display: inline-block; text-align: right;}
	footer li:nth-of-type(1) p:nth-of-type(2){padding-left: 70px;}
	footer li:nth-of-type(3) p:nth-of-type(2),footer li:nth-of-type(3) p:nth-of-type(3){padding-left: 70px;}
	.gg,.menu,.click{display: none !important;}
}
/*pad端*/
@media screen and (min-width:721px) and (max-width:1000px){
	.container{padding-left: 15px; padding-right: 15px;}
	header .logo{ width: 17.1%;margin-right: 7%; height: 68px; margin-left: 2.6%; box-sizing: border-box; padding-top: 10px;}
	header nav{width: 73.3%;}
	header nav li{width: 12.82401091%; height: 68px; line-height: 68px;}
	header nav li:nth-of-type(1){width: 8.86766712%;}
	header nav li:nth-of-type(2) a{background: #5c5c5c;}
	.main{width: 100%; margin: 40px auto 0 auto;}
	.main aside{width: 26.5%; float: left; border-right: 1px solid #bbbbbb;}
	.main aside li{position: relative; height: 60px; line-height: 60px;  text-align: center; background: url(../images/pic_03.jpg) no-repeat 15px center; background-size:30px ;}
	.main aside li img{position: absolute; bottom: 0; bottom: 0; width: 90%;}
	.main aside li:nth-of-type(2){background:url(../images/pic_06.jpg) no-repeat 15px center;background-size:30px ;}
	.main aside li a{font-size: 20px; color: #222222; display: block;}
	.main section{width: 66.9%; float: left; margin-left: 5%; padding-bottom: 10%;}
	.main section h3{height: 38px; color: #fa9634; font-size: 18px; line-height: 38px;}
	.main section p{font-size: 16px; line-height: 28px; color: #222222;}
	footer div{width: 98%; margin: 0 auto;}
	footer div ul{padding-top: 20px; padding-bottom: 5.3%;}
	footer li{width: 50%; float: left; padding-left: 10%; box-sizing: border-box;}
	footer li:nth-of-type(1),footer li:nth-of-type(3){padding-left: 15%;}
	footer li p{height: 29px; line-height: 29px;font-size: 0.75em;}
	footer li p:nth-of-type(2),footer li p:nth-of-type(3){padding-left: 60px;}
	footer li p span{width: 60px; display: inline-block; text-align: right;}
	footer li:nth-of-type(2) p:nth-of-type(2){padding-left: 0;}
	footer li:nth-of-type(4) p:nth-of-type(3){padding-left: 0px;}
	footer li:nth-of-type(4) p:nth-of-type(2){padding-left: 0px;}
	.gg,.menu,.click{display: none !important;}
}
/*小屏*/
@media screen and (min-width: 481px) and (max-width:720px) {
	.container{padding-left: 15px; padding-right: 15px;}
	header>div{position: relative;}
	header .logo{width: 15%;margin-right: 9.6%;height: 48px; margin-left: 2%; box-sizing: border-box; padding-top: 8px;}
	header nav{display: none;}
	header .gg{position:absolute; top:12px; left:26.7%; font-size: 16px; color: #ffffff; display: block;}
	header .menu{position: absolute; top:6px; right: 20px; height: 40px; width: 40px;display: block;}
	.click{background: #262525; color: #ffffff;}
	.click li{height: 40px; line-height: 40px; border-bottom: 1px solid #333333; width: 25%; float: left; text-align: center;}
	.click li a{color: #ffffff; display: block; font-size: 0.75em;}
	.none{display: none;}
	.none1,.none2,.none3{display: none;}
	.main aside{padding-bottom: 20px; padding-top: 10px; width: 90%; padding-left: 5%; padding-right: 5%;}
	.main aside ul{width: 90%; padding-left: 5%; padding-right: 5%;}
	.main aside li{position: relative; width: 45%;float: left; text-align: center; height: 60px; line-height: 60px; background: url(../images/pic_03.jpg) no-repeat 10px center; background-size:35px ;}
	.main aside li:nth-of-type(2){float: right;}
	.main aside li a{color: #222222; font-size: 20px;}
	.main aside li:nth-of-type(2){margin-right: 0;  background: url(../images/pic_06.jpg) no-repeat 10px center; background-size:35px ;}
	.main aside li img{position: absolute; left: 0; bottom: 0; width: 80%;}
	.main section{width: 100%; padding-bottom: 10%;}
	.main section h3{height: 38px; color: #fa9634; font-size: 18px; line-height: 38px;}
	.main section p{font-size: 16px; line-height: 28px; color: #222222; padding-left: 10px;}
	footer div{width: 96%; margin: 0 auto;}
	footer div ul{padding-top: 20px; padding-bottom: 5.3%;}
	footer li{width: 50%; float: left;  box-sizing: border-box;}
	footer li:nth-of-type(1),footer li:nth-of-type(3){padding-left: 13%;}
	footer li p{height: 29px; line-height: 29px;font-size: 0.75em;}
	footer li p span{width: 60px; display: inline-block; text-align: right;}
	footer li p:nth-of-type(2),footer li p:nth-of-type(3){padding-left: 60px;}
	footer li:nth-of-type(4) p:nth-of-type(3){padding-left: 0px;}
	footer li:nth-of-type(4) p:nth-of-type(2){padding-left: 0px;}
	footer li:nth-of-type(2) p:nth-of-type(2){padding-left: 0;}
}
/*小小屏*/
@media screen and (max-width: 480px) {
	.container{padding-left: 15px; padding-right: 15px; margin: 0 auto;}
	header>div{position: relative;}
	header .logo{width: 20%;margin-right: 9.6%; height: 40px; padding-left: 2%; box-sizing: border-box; padding-top: 8px;}
	header nav{display: none;}
	header .gg{position:absolute; top:0; left:30.7%; font-size: 16px; color: #ffffff; padding-top: 1.5%;}
	header .menu{position: absolute; top:3px; right: 20px; width: 40px; height: 40px;}
	.click{background: #262525;}
	.click li{height: 40px; line-height: 40px;  width: 25%; text-align: center; float: left; border-bottom: 1px solid #333333;}
	.click li a{color: #ffffff; display: block; font-size: 0.75em;}
	.none{display: none;}
	.main aside{padding-top: 10px; padding-bottom: 10px;}
	.main aside ul{margin-top: 15px; width: 90%; padding-left: 5%; padding-right: 5%;}
	.main aside li{position: relative; width: 50%; float: left; text-align: center; box-sizing: border-box; height: 60px; line-height: 30px;}
	.main aside li a{padding-top:35px; display: block; color: #222222; font-size: 18px; background: url(../images/pic_03.jpg) no-repeat center top; background-size:35px ;}
	.main aside li:nth-of-type(2) a{background: url(../images/pic_06.jpg) no-repeat center top; background-size:35px ;}
	.main aside li img{display: none;}
	.main section{width: 100%; padding-bottom: 10%;}
	.main section h3{height: 38px; color: #fa9634; font-size: 18px; line-height: 38px;}
	.main section p{font-size: 16px; line-height: 28px; color: #222222; padding-left: 10px;}
	footer div{width: 96%; margin: 0 auto;}
	footer div ul{padding-top: 20px; padding-bottom: 5.3%;}
	footer li{width: 100%; float: left; padding-left: 19%; box-sizing: border-box;}
	footer li:nth-of-type(1),footer li:nth-of-type(3){padding-left: 19%;}
	footer li p{height: 29px; line-height: 29px;font-size: 0.75em;}
	footer li p span{width: 60px; display: inline-block; text-align: right;}
	footer li p:nth-of-type(2),footer li p:nth-of-type(3){padding-left:60px;}
	footer li:nth-of-type(4) p{padding-left:0;}
	footer li:nth-of-type(2) p:nth-of-type(2){padding-left: 0;}
}