body{font-size: 16px;}
img{display: block; width: 100%;} 
header,footer{width: 100%; background: #333333;}
footer{color: #fcfff6;}
header .logo{float: left;}
header nav{float: left;}
header nav li{float: left;}
header nav li a{display: block; color: #fdfef9; text-align: center; font-size: 0.875em;}
/*大屏*/
@media screen and (min-width:1001px){
	.main{width: 1000px; margin: 120px auto 163px auto;}
	.main aside{width: 265px; float: left; border-right: 1px solid #bbbbbb;}
	.main aside li{height: 80px; width: 250px; box-sizing: border-box; padding-left: 90px; padding-top: 29px;}
	.main aside li:nth-of-type(1){border-bottom: 3px solid #FA9634; background: url(../images/a1.jpg) no-repeat 20px center;}
	.main aside li:nth-of-type(2){background: url(../images/b2.jpg) no-repeat 20px center;}
	.main aside li:nth-of-type(3){background: url(../images/b3.jpg) no-repeat 20px center;}
	.main aside li:nth-of-type(4){background: url(../images/b4.jpg) no-repeat 20px center;}
	.main aside li:nth-of-type(2):hover{background: url(../images/a2.jpg) no-repeat 20px center;}
	.main aside li:nth-of-type(3):hover{background: url(../images/a3.jpg) no-repeat 20px center;}
	.main aside li:nth-of-type(4):hover{background: url(../images/a4.jpg) no-repeat 20px center;}
	.main aside li a{font-size: 22px; color: #222222; display: block;}
	.main aside li:hover{border-bottom: 3px solid #FA9634;}
	.main article{width: 734px; float: left; box-sizing: border-box; padding-left: 50px;}
	.main article h3{font-size: 18px; color: #fa9634; margin-top: 18px; height: 24px; line-height: 24px;}
	.main article h3:nth-of-type(1){margin-top: 0;}
	.main article h3:nth-of-type(2){margin-top: 12px;}
	.main article ul li{height: 19px; line-height: 19px; font-size: 14px; margin-top: 19px;}
	.main article h3 span{font-size: 16px; color: #222; font-weight: normal;}
	.main article p{font-size: 16px; line-height: 35px; color: #222; margin-top: 9px;text-indent: 32px;}
	.main article p:nth-of-type(2){text-indent: 0;}
}
/*pad端*/
@media screen and (min-width:721px) and (max-width:1000px){
	.main{width: 100%; margin: 40px auto 0 auto;}
	.main aside{width: 26.5%; float: left; border-right: 1px solid #bbbbbb;}
	.main aside li{position: relative; height: 60px; line-height: 60px; width: 94.64285714%; padding-left:30%; box-sizing: border-box;}
	.main aside li:nth-of-type(1){ border-bottom: 2px solid #FA9634;background: url(../images/a1.jpg) no-repeat 10px center; background-size:35px ;}
	.main aside li:nth-of-type(2){background: url(../images/b2.jpg) no-repeat 10px center; background-size:35px ;}
	.main aside li:nth-of-type(3){background: url(../images/b3.jpg) no-repeat 10px center; background-size:35px ;}
	.main aside li:nth-of-type(4){background: url(../images/b4.jpg) no-repeat 10px center; background-size:35px ;}
	.main aside li a{font-size: 20px; color: #222222; display: block;}
	.main article{width: 68.2%; float: left; margin-left: 5%; padding-bottom: 80px;}
	.main article h3{font-size: 18px; color: #fa9634; margin-top: 18px;line-height: 24px;}
	.main article h3:nth-of-type(1){margin-top: 0;}
	.main article h3:nth-of-type(2){margin-top: 12px;}
	.main article ul li{height: 19px; line-height: 19px; font-size: 14px; margin-top: 19px;}
	.main article h3 span{font-size: 16px; color: #222; font-weight: normal;}
	.main article h3:nth-of-type(9){margin-top: 9px; line-height: 36px; }
	.main article h3:nth-of-type(10){margin-top: 9px;}
	.main article p{font-size: 16px; line-height: 35px; color: #222; margin-top: 9px;text-indent: 32px;}
	.main article p:nth-of-type(2){text-indent: 0;}
}
/*小屏*/
@media screen and (min-width: 481px) and (max-width:720px) {
	.main{width: 100%; margin: 20px auto 0 auto;}
	.main aside{ width: 90%; padding-left: 5%; padding-right: 5%; }
	.main aside ul{width: 100%;}
	.main aside li{margin-top: 10px; position: relative; width: 25%; float: left; margin-bottom: 10px; text-align: center;}	
	.main aside li a{color: #222222; padding-top:45px; font-size: 20px; display: block; height: 40px; line-height: 40px;}
	.main aside li:nth-of-type(1){background: url(../images/a1.jpg) no-repeat center top;}
	.main aside li:nth-of-type(2){background: url(../images/b2.jpg) no-repeat center top;}
	.main aside li:nth-of-type(3){background: url(../images/b3.jpg) no-repeat center top;}
	.main aside li:nth-of-type(4){background: url(../images/b4.jpg) no-repeat center top;}
	.main aside li:nth-of-type(2){margin-right: 0;}
	.main aside li img{position: absolute; left: 0; bottom: 0;width: 80%;}
	.main article{width: 100%; padding-bottom: 60px;}
	.main article h3{font-size: 18px; color: #fa9634; margin-top: 18px;line-height: 24px;}
	.main article h3:nth-of-type(1){margin-top: 0;}
	.main article h3:nth-of-type(2){margin-top: 12px;}
	.main article ul li{height: 19px; line-height: 19px; font-size: 14px; margin-top: 19px; padding-left: 10px;}
	.main article h3 span{font-size: 16px; color: #222; font-weight: normal;}
	.main article h3:nth-of-type(9){margin-top: 9px; line-height: 36px; }
	.main article h3:nth-of-type(10){margin-top: 9px;}
	.main article p{font-size: 16px; line-height: 35px; color: #222; margin-top: 9px;text-indent: 32px;}
}
/*小小屏*/
@media screen and (max-width: 480px) {
	.main aside{padding-top: 10px; padding-bottom: 10px;}
	.main aside ul{padding-top: 20px; width: 100%; }
	.main aside li{width: 25%; float: left; text-align: center; height: 70px; line-height: 30px; box-sizing:border-box ; margin-bottom: 15px;}
	.main aside li a span{display: none;}
	.main aside li a{display: block; padding-top: 42px; color: #222222; font-size: 18px; background: url(../images/images_11.jpg) no-repeat center top; background-size:35px ;}
	.main aside li:nth-of-type(1){background: url(../images/a1.jpg) no-repeat top center;}
	.main aside li:nth-of-type(2){background: url(../images/b2.jpg) no-repeat top center;}
	.main aside li:nth-of-type(3){background: url(../images/b3.jpg) no-repeat top center;}
	.main aside li:nth-of-type(4){background: url(../images/b4.jpg) no-repeat top center;}
	.main article{width: 100%; padding-bottom: 60px;}
	.main article h3{font-size: 18px; color: #fa9634; margin-top: 18px;line-height: 24px;}
	.main article h3:nth-of-type(1){margin-top: 0;}
	.main article h3:nth-of-type(2){margin-top: 12px;}
	.main article ul li{line-height: 19px; font-size: 14px; margin-top: 19px; padding-left: 10px;}
	.main article ul li:nth-of-type(1){margin-top: 19px; line-height: 30px;}
	.main article ul li:nth-of-type(2){margin-top: 8px;}
	.main article h3 span{font-size: 16px; color: #222; font-weight: normal;}
	.main article h3:nth-of-type(9){margin-top: 9px; line-height: 36px; }
	.main article h3:nth-of-type(10){margin-top: 9px;}
	.main article p{font-size: 16px; line-height: 35px; color: #222; margin-top: 9px;text-indent: 32px;}
}